<footer class="navigation">
    <div class="bottom_navigation_container">
        <nav>
            <div class="footer_head">
                <p>Designed and Built by Nishan Gaudel</p>
            </div>
            <div>
                <ul class="footer_links">
                    <li><a href="https://github.com/nissangaudel"><img class="social_icon"
                        src="/assets/images/svg/bxl-github.svg" width="25px" alt=""></a></li>
                    <li><a href="https://www.linkedin.com/in/nishangaudel"><img class="social_icon"
                                src="/assets/images/svg/bxl-linkedin.svg" width="25px" alt=""></a></a></li>
                </ul>
            </div>
        </nav>
    </div>
</footer>