<%- include partials/header.ejs %>

    <%- include partials/main_nav.ejs %>

        <div class="my_background section">
            <h2 class="section_heading">My Background</h2>
            <div class="my_background_details">
                <p>I am currently enrolled in a software engineering program 🎓 at <strong>Centennial College,
                        Sacrborough,
                        Canada</strong></p>

                <p>As a software developer, I enjoy crafting <strong>systems that solves real problems</strong> and
                    provide
                    exceptional user experience. I highly value a legible code over the one which just works.</p>

                <p>Besides, Coding I enjoy watching cricket, playing video games and I love mechanical keyboards!⌨️</p>

                <div class="button"><a
                        href="https://drive.google.com/file/d/1XWUqpkt3KKL4e3l-AW7Ej7beDUAiUiEy/view?usp=sharing">Download
                        CV</a><img src="/assets/images/svg/right-arrow.svg" class="btn_arrow" alt=""></div>
            </div>
        </div>


        <%- include partials/footer.ejs %>