<%- include partials/header.ejs %>

    <%- include partials/main_nav.ejs %>

        <div class="container">
            <div class="intro_section">
                <div class="namaskar">
                    <h1>Let's Talk✍🏽</h1>
                </div>
                <div class="main_section">
                    <h2>Ask me anything or just say Hi!⬇️</h2>
                </div>
                <div class="contact_form_area">
                    <input type="text" name="name" id="name" placeholder="Full Name">
                    <input type="email" name="email" id="email" placeholder="Email Address">
                    <textarea name="message" id="message" cols="30" rows="10"
                        placeholder="Write your message here..."></textarea>
                    <div class="button"><a href="#">Send</a><img src="/assets/images/svg/right-arrow.svg"
                            class="btn_arrow" alt=""></div>
                </div>
            </div>
        </div>

        <%- include partials/footer.ejs %>