<%- include partials/header.ejs %>

  <%- include partials/main_nav.ejs %>
    <div class="container">
      <div class="intro_section">
        <div class="namaskar">
          <h1>नमस्कार! 🙏🏼</h1>
        </div>
        <div class="main_section">
          <h2>I’m Nishan Gaudel, a software developer currently based in Toronto, Canada🍁. I build
            beautiful apps for the web!</h2>
        </div>
        <div class="Email_CTA">
          <p>Connect With Me 👉 <span><a href="mailto:nissangaudel99@gmail.com">nissangaudel99@gmail.com</a></span></p>
        </div>
      </div>

      <div class="hero_image">
        <img src="/assets/images/Image_1.png" alt="Nishan' s image" class="headshot">
        <img src="/assets/images/svg/arrow.svg" alt="" class="arrow">
        <p>Hello folks! Yeah, This is me trying to pose for a good portfolio website photo.</p>
      </div>
    </div>

    <div class="my_background section">
      <h2 class="section_heading">My Background</h2>
      <div class="my_background_details">
        <p>I am currently enrolled in a software engineering program 🎓 at <strong>Centennial College, Sacrborough,
            Canada</strong></p>

        <p>As a software developer, I enjoy crafting <strong>systems that solves real problems</strong> and provide
          exceptional user experience. I highly value a legible code over the one which just works.</p>

        <p>Besides, Coding I enjoy watching cricket, playing video games and I love mechanical keyboards!⌨️</p>

        <div class="button"><a
            href="https://drive.google.com/file/d/1XWUqpkt3KKL4e3l-AW7Ej7beDUAiUiEy/view?usp=sharing"><strong>Download
              CV</strong></a><img src="/assets/images/svg/right-arrow.svg" class="btn_arrow" alt=""></div>
      </div>
    </div>
    <div class="my_toolkit section">
      <h2 class="section_heading">My Toolkit</h2>
      <div class="my_toolkit_deatils">
        <img src="/assets/images/svg/bxl-css3.svg" alt="">
        <img src="/assets/images/svg/bxl-html5.svg" alt="">
        <img src="/assets/images/svg/bxl-javascript.svg" alt="">
        <img src="/assets/images/svg/bxl-react.svg" alt="">
        <img src="/assets/images/svg/bxl-mongodb.svg" alt="">
        <img src="/assets/images/svg/bxl-java.svg" alt="">
        <img src="/assets/images/svg/bxl-nodejs.svg" alt="">
        <img src="/assets/images/svg/bxl-figma.svg" alt="">
        <img src="/assets/images/svg/bxl-github.svg" alt="">
        <img src="/assets/images/svg/bxl-vscode.svg" alt="">
      </div>
    </div>

    <div class="projects section">
      <h2 class="section_heading">My Projects</h2>

      <div class="project_list_card">
        <div class="project_deatails button">
          <h3 class="project_heading">Employee Management System <a
              href=" https://github.com/nissangaudel/emloyee_management_system"><span><img
                  src="/assets/images/svg/right-arrow.svg" class="btn_arrow" alt=""></span></a>
          </h3>
          <p>A complete web solution to manage staff and record the attandace of the employee,
            register and store their details.</p>
        </div>
        <div class="info_pill">
          <p>NodeJS</p>
        </div>
        <div class="info_pill">
          <p>Express</p>
        </div>
        <div class="info_pill">
          <p>JavaScript</p>
        </div>
        <div class="info_pill">
          <p>HTML</p>
        </div>
        <div class="info_pill">
          <p>CSS</p>
        </div>
      </div>

      <div class="project_list_card">
        <div class="project_deatails button">
          <h3 class="project_heading">Easy Surveys <a href="https://surveysite.onrender.com/"><span><img
                  src="/assets/images/svg/right-arrow.svg" class="btn_arrow" alt=""></span></a>
          </h3>
          <p>Easy Surveys is a web application that allows users to create accounts, post, and track
            survey questions.</p>
        </div>
        <div class="info_pill">
          <p>HTML</p>
        </div>
        <div class="info_pill">
          <p>CSS</p>
        </div>
        <div class="info_pill">
          <p>JavaScript</p>
        </div>
        <div class="info_pill">
          <p>Express</p>
        </div>
        <div class="info_pill">
          <p>BootStrap</p>
        </div>
      </div>

      <div class="project_list_card">
        <div class="project_deatails button">
          <h3 class="project_heading">Bug Samsher <a href="https://github.com/nissangaudel/bug-smasher"><span><img
                  src="/assets/images/svg/right-arrow.svg" class="btn_arrow" alt=""></span></a>
          </h3>
          <p>Bug Smasher is a HTML canvas game, Where players are challanged to smash the BUG by clicking on
            it as it randomly hops to random location on the screen. The speed of the bug increases as you
            score more so the game gets harder as you progresss.</p>
        </div>
        <div class="info_pill">
          <p>JavaScript</p>
        </div>
        <div class="info_pill">
          <p>HTML</p>
        </div>
        <div class="info_pill">
          <p>CSS</p>
        </div>
      </div>

      <%- include partials/bottom_nav.ejs %>


        <%- include partials/footer.ejs %>