<%- include partials/header.ejs %>

    <%- include partials/main_nav.ejs %>

        <div class="projects section">
            <h2 class="section_heading">My Projects</h2>

            <div class="project_list_card">
                <div class="project_deatails button">
                    <h3 class="project_heading">Employee Management System <a
                            href=" https://github.com/nissangaudel/emloyee_management_system"><span><img
                                    src="/assets/images/svg/right-arrow.svg" class="btn_arrow" alt=""></span></a>
                    </h3>
                    <p>A complete web solution to manage staff and record the attandace of the employee,
                        register and store their details.</p>
                </div>
                <div class="info_pill">
                    <p>NodeJS</p>
                </div>
                <div class="info_pill">
                    <p>Express</p>
                </div>
                <div class="info_pill">
                    <p>JavaScript</p>
                </div>
                <div class="info_pill">
                    <p>HTML</p>
                </div>
                <div class="info_pill">
                    <p>CSS</p>
                </div>
            </div>

            <div class="project_list_card">
                <div class="project_deatails button">
                    <h3 class="project_heading">Easy Surveys <a href="https://surveysite.onrender.com/"><span><img
                                    src="/assets/images/svg/right-arrow.svg" class="btn_arrow" alt=""></span></a>
                    </h3>
                    <p>Easy Surveys is a web application that allows users to create accounts, post, and track
                        survey questions.</p>
                </div>
                <div class="info_pill">
                    <p>HTML</p>
                </div>
                <div class="info_pill">
                    <p>CSS</p>
                </div>
                <div class="info_pill">
                    <p>JavaScript</p>
                </div>
                <div class="info_pill">
                    <p>Express</p>
                </div>
                <div class="info_pill">
                    <p>BootStrap</p>
                </div>
            </div>

            <div class="project_list_card">
                <div class="project_deatails button">
                    <h3 class="project_heading">Bug Samsher <a
                            href="https://github.com/nissangaudel/bug-smasher"><span><img
                                    src="/assets/images/svg/right-arrow.svg" class="btn_arrow" alt=""></span></a>
                    </h3>
                    <p>Bug Smasher is a HTML canvas game, Where players are challanged to smash the BUG by clicking on
                        it as it randomly hops to random location on the screen. The speed of the bug increases as you
                        score more so the game gets harder as you progresss.</p>
                </div>
                <div class="info_pill">
                    <p>JavaScript</p>
                </div>
                <div class="info_pill">
                    <p>HTML</p>
                </div>
                <div class="info_pill">
                    <p>CSS</p>
                </div>
            </div>
        </div>
        <%- include partials/bottom_nav.ejs %>
            <%- include partials/footer.ejs %>