<%- include partials/header.ejs %>

    <%- include partials/main_nav.ejs %>

        <div class="projects section">
            <h2 class="section_heading">My Projects</h2>

            <div class="project_list_card">
                <div class="project_deatails button">
                    <h3 class="project_heading">Bug Samsher<span><img src="/assets/images/svg/right-arrow.svg"
                                class="btn_arrow" alt=""></span>
                    </h3>
                    <p>Bug Smasher is a HTML canvas game, Where players are challanged to smash the BUG by clicking on
                        it as it randomly hops to random location on the screen. The speed of the bug increases as you
                        score more so the game gets harder as you progresss.</p>
                </div>
                <div class="info_pill">
                    <p>JavaScript</p>
                </div>
                <div class="info_pill">
                    <p>HTML</p>
                </div>
                <div class="info_pill">
                    <p>CSS</p>
                </div>
            </div>

            <div class="project_list_card">
                <div class="project_deatails button">
                    <h3 class="project_heading">Personal Portfolio<span><img src="/assets/images/svg/right-arrow.svg"
                                class="btn_arrow" alt=""></span>
                    </h3>
                    <p>My Personal Portfoilo Websites contains all of the professional details. It is Completely
                        hand-made by me.</p>
                </div>
                <div class="info_pill">
                    <p>NodeJS</p>
                </div>
                <div class="info_pill">
                    <p>Express</p>
                </div>
                <div class="info_pill">
                    <p>Heroku</p>
                </div>
                <div class="info_pill">
                    <p>HTML</p>
                </div>
                <div class="info_pill">
                    <p>CSS</p>
                </div>
            </div>

            <div class="project_list_card">
                <div class="project_deatails button">
                    <h3 class="project_heading">Real State Website<span><img src="/assets/images/svg/right-arrow.svg"
                                class="btn_arrow" alt=""></span>
                    </h3>
                    <p>This is a static website I built for my 1 semster project. It's for a imaginary real estate
                        company.</p>
                </div>
                <div class="info_pill">
                    <p>HTML</p>
                </div>
                <div class="info_pill">
                    <p>CSS</p>
                </div>
            </div>


        </div>
        <div class="my_toolkit section">
            <h2 class="section_heading">My Toolkit</h2>
            <div class="my_toolkit_deatils">
                <img src="/assets/images/svg/bxl-css3.svg" alt="">
                <img src="/assets/images/svg/bxl-github.svg" alt="">
                <img src="/assets/images/svg/bxl-flutter.svg" alt="">
                <img src="/assets/images/svg/bxl-html5.svg" alt="">
                <img src="/assets/images/svg/bxl-javascript.svg" alt="">
                <img src="/assets/images/svg/bxl-mongodb.svg" alt="">
                <img src="/assets/images/svg/bxl-postgresql.svg" alt="">
            </div>

        </div>

        <%- include partials/footer.ejs %>