<%- include partials/header.ejs %>

    <%- include partials/main_nav.ejs %>

        <div class="projects section">
            <h2 class="section_heading">My Services</h2>

            <div class="project_list_card">
                <div class="project_deatails button">
                    <h3 class="project_heading">Website Development<span><img src="/assets/images/svg/right-arrow.svg"
                                class="btn_arrow" alt=""></span>
                    </h3>
                    <p>Websites are most these days for any business trying to make its mark in digital age. It will
                        help you grow you business and allows you to reach wider customers range.</p>
                </div>
                <div class="info_pill">
                    <p>JavaScript</p>
                </div>
                <div class="info_pill">
                    <p>Express</p>
                </div>
                <div class="info_pill">
                    <p>HTML</p>
                </div>
                <div class="info_pill">
                    <p>CSS</p>
                </div>
            </div>
            <div class="my_toolkit section">
                <h2 class="section_heading">My Toolkit</h2>
                <div class="my_toolkit_deatils">
                    <img src="/assets/images/svg/bxl-css3.svg" alt="">
                    <img src="/assets/images/svg/bxl-github.svg" alt="">
                    <img src="/assets/images/svg/bxl-flutter.svg" alt="">
                    <img src="/assets/images/svg/bxl-html5.svg" alt="">
                    <img src="/assets/images/svg/bxl-javascript.svg" alt="">
                    <img src="/assets/images/svg/bxl-mongodb.svg" alt="">
                    <img src="/assets/images/svg/bxl-postgresql.svg" alt="">
                </div>

            </div>

            <%- include partials/footer.ejs %>